.wrapper {
    position: fixed;
    display: flex;
    align-items: center;
    justify-content: center;
    left: 0px;
    top: 50px;
    height: calc(100% - 50px);
    width: 100%;
    background-color: rgba(0, 0, 0, .24);
}

.innerWrapper {
    display: flex;
    padding: 32px;
    background-color: beige;
    box-shadow: 0 0 6px -6px black;
}

.text {
    padding: 24px;
    font-family: sans-serif;
    font-size: 16px;
    color: #242424;
}
